<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a
              href="https://www.facebook.com/generationbrasil"
              target="_blank"
              class="icoFacebook"
            >
              <i class="fa-brands fa-facebook-square"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/fabiomrm/"
              target="_blank"
              class="icoLinkedin"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com.br" target="_blank" class="icoTwitter">
              <i class="fa-brands fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">&copy; 2022 Copyright: </span>
    <a href="linkedin.com/in/fabiomrm/" class="text-right" target="_blank"
      >/fabiomrm</a
    >
  </div>
</footer>
